@model trivago3.Models.HOTEL_BOOKING

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HOTEL_BOOKING</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CHECK_IN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHECK_IN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHECK_OUT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHECK_OUT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMER.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMER.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOTEL.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOTEL.NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
